html,
body {

  --color-primary: #228fba;
  --color-primary-dark: #114c64;
  --color-primary-light: #12b4f4;
  --color-bg-dark: rgb(10, 25, 41);

  --text-base-size: 1rem; /* 16px */
  --text-base-line-height: 1.5rem; /* 24px */
  --text-color-dark-bg: #fff;
  --text-color-light-bg: #333;

  --text-lg-size: 1.125rem; /* 18px */
  --text-lg-line-height: 1.75rem; /* 28px */;

  --md-breakpoint: 768px;
  --fixed-menu-height: 100px;
}

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

img{
  max-width: 100%;
}